<div class="card-body">
  <%= form_tag sessions_path %>
  <fieldset>
    <legend>Sign in</legend>
    <div class="form-group">
      <%= label 'user', 'email', 'Email' %>
      <%= text_field 'user', 'email', class: "form-control" %>
      <small id="email-help" class="form-text text-muted">We'll share your email and your password with everyone
        else.</small>
    </div>
    <div class="form-group">
      <%= label 'user', 'password', 'Password' %>
      <%= password_field 'user', 'password', class: "form-control" %>
    </div>
    <%= link_to 'Forget your password?', '#' %>
    <%= submit_tag "Login", class: "btn btn-primary float-right" %>
  </fieldset>
</div>
<div class="card-footer center">
  Don't have an account?&nbsp;
  <strong><a href="/users/new">Sign up!</a></strong>
</div>