<div class="mb-2">
  <h3 class="inline-header">Programs</h3>
  <span class="align-middle">
    <%= @has_program ? badge_checkmark : badge_exclamation %>
  </span>
</div>

<%= form_with(model: [@course, @assignment, @program]) do |f| %>
  <div class="form-group">
    <%= f.label(:name, 'Enter a program name:') %>
    <div class="d-flex">
      <div class="input-group code">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <% input_pattern = "Use CamelCase. Pattern: #{@java_filename_pattern}" %>
        <%= f.text_field(:name, class: 'form-control', placeholder: 'HelloWorld',
                         pattern: @java_filename_pattern, title: input_pattern, required: true) %>
        <div class="input-group-append">
          <%= f.submit('Add', class: 'input-group-text', id: 'add-program') %>
        </div>
      </div>
    </div>
  </div>
<% end %>
