<ul class="list-group pb-3">
  <% url = "/courses/#{@course.id}/assignments/#{@assignment.id}" %>
  <a href="<%= url %>" class="list-group-item list-group-item-action">
    <li class="d-flex justify-content-between align-items-center">
      Overview
      <% if @assignment.expected_input_filenames.empty? %>
        <span class="badge badge-danger badge-pill">!</span>
      <% else %>
        <span class="badge badge-success badge-pill">✓</span>
      <% end %>
    </li>
  </a>
  <% url = "/courses/#{@course.id}/assignments/#{@assignment.id}/submissions" %>
  <a href="<%= url %>" class="list-group-item list-group-item-action">
    <li class="d-flex justify-content-between align-items-center">
      Submissions
      <% if AssignmentsHelper.has_submission?(params[:assignment_id] || params[:id]) %>
        <span class="badge badge-success badge-pill">✓</span>
      <% else %>
        <span class="badge badge-danger badge-pill">!</span>
      <% end %>
    </li>
  </a>
  <% url = "/courses/#{@course.id}/assignments/#{@assignment.id}/ts_files" %>
  <a href="<%= url %>" class="list-group-item list-group-item-action">
    <li class="d-flex justify-content-between align-items-center">
      TS Files
      <% if TsFilesHelper.has_ts_files(params[:assignment_id] || params[:id]) %>
        <span class="badge badge-success badge-pill">✓</span>
      <% else %>
        <span class="badge badge-danger badge-pill">!</span>
      <% end %>
    </li>
  </a>
  <% url = "/courses/#{@course.id}/assignments/#{@assignment.id}/rubric" %>
  <a href="<%= url %>" class="list-group-item list-group-item-action">
    <li class="d-flex justify-content-between align-items-center">
      Rubric
      <% if RubricItem.where(rubric_id: @assignment.rubric_id).empty? %>
        <span class="badge badge-danger badge-pill">!</span>
      <% else %>
        <span class="badge badge-success badge-pill">✓</span>
      <% end %>
    </li>
  </a>
</ul>

<ul class="list-group pb-3">
  <% url = "/courses/#{@course.id}/assignments/#{@assignment.id}/grading" %>
  <a href="<%= url %>" class="list-group-item list-group-item-action">
    <li class="d-flex justify-content-between align-items-center">
      Run automated grading
      <% grading_items = @assignment.rubric.rubric_items.collect(&:grading_items).flatten %>
      <% if grading_items.blank? || grading_items.any? { |g| g.not_started? } %>
        <span class="badge badge-danger badge-pill">!</span>
      <% else %>
        <span class="badge badge-success badge-pill">✓</span>
      <% end %>
    </li>
  </a>
</ul>

<ul class="list-group pb-3">
  <% url = "/courses/#{@course.id}/assignments/#{@assignment.id}/report" %>
  <a href="<%= url %>" class="list-group-item list-group-item-action">
    <li class="d-flex justify-content-between align-items-center">
      Report
    </li>
  </a>
</ul>