<h3>Status</h3>
<div class="list-group">
  <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
       data-toggle="collapse" data-target="#programs"
       aria-expanded="false" aria-controls="programs">
    <span><i class="fas fa-angle-right mr-3 rotate"></i>Programs</span>

    <% programs_count = @assignment.programs.count %>
    <% color = programs_count.positive? ? :success : :danger %>
    <%= badge color, programs_count %>
  </div>
  <div class="collapse show" id="programs">
    <% @assignment.programs.each do |program| %>
      <div class="list-group-item d-flex justify-content-between align-items-center">
        <%= program %>
        <%= button_to programs_course_assignment_path(name: program), method: :delete, class: 'btn text-primary p-0',
                      data: { toggle: :tooltip, title: "Delete #{program}" } do %>
          <i class="fas fa-times"></i>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
       data-toggle="collapse" data-target="#input-files"
       aria-expanded="false" aria-controls="input-files">
    <span><i class="fas fa-angle-right mr-3 rotate"></i>Input files</span>

    <% programs_count = @assignment.input_files.count %>
    <%= badge :success, programs_count if @assignment.input_files.attached? %>
  </div>
  <div class="collapse show" id="input-files">
    <% @assignment.input_files.each do |attachment| %>
      <div class="list-group-item d-flex justify-content-between">
        <% filename = attachment.filename %>
        <%= filename %>
        <%= button_to input_files_course_assignment_path(name: filename), method: :delete,
                      class: 'btn text-primary p-0', data: { toggle: :tooltip, title: "Delete #{filename}" } do %>
          <i class="fas fa-times"></i>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
       data-toggle="collapse" data-target="#participants"
       aria-expanded="false" aria-controls="participants">
    <span><i class="fas fa-angle-right mr-3 rotate"></i>Participants</span>

    <% participants_count = @assignment.participants.count %>
    <% color = participants_count.positive? ? :success : :danger %>
    <%= badge color, participants_count %>
  </div>
  <div class="collapse" id="participants">
    <% @grades.each do |grade| %>
      <div class="list-group-item"><%= grade.full_name %> (<%= grade.email_address %>)</div>
    <% end %>
  </div>
</div>
