<% breadcrumb_for request.path %>

<%= render partial: 'assignment_sidebar' %>
<h2>Setup</h2>
<hr>

<div class="row">
  <div class="col-xl-7">
    <%= render partial: 'assignments/programs' %>
    <%= render partial: 'grades/upload_moodle' %>
    <%= render partial: 'assignments/input_files' %>
  </div>
  <div class="col">
    <%= render partial: 'status' %>
  </div>
</div>
