<%= form_with model: @user, multipart: true, method: 'put' do |form| %>
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-4">
    <% if @user.avatar %>
      <img src="<%= '/uploads/avatars/' + @user.avatar %>" width="250px" height="250px" alt="avatar">
    <% else %>
      <img src="https://pbs.twimg.com/profile_images/1107821274632343552/vS0teDIE_400x400.jpg" width="250px" height="250px" alt="avatar">
    <% end %>
    <div class="form-group pt-2">
      <%= form.file_field :avatar, class: "form-control-file" %>
      <small id="fileHelp" class="form-text text-muted">Customize your avatar!</small>
    </div>
  </div>
  <div class="col-lg-5">
    <h1>Hi, <%= @user.first_name %> <%= @user.last_name %></h1>
    <fieldset>
      <legend>Profile</legend>
      <div class="form-group row">
        <label class="col-lg-4 col-form-label">Email</label>
        <div class="col-lg-8">
          <%= form.text_field :email, class: "form-control-plaintext", readonly: "" %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :email, "Email address" %>
        <%= form.email_field :email, class: "form-control", aria: {describedby: "emailHelp"} %>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group row">
        <div class="col-lg-6">
          <%= form.label :first_name, "First name" %>
          <%= form.text_field :first_name, class: "form-control" %>
        </div>
        <div class="col-lg-6">
          <%= form.label :last_name, "Last name" %>
          <%= form.text_field :last_name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <%= form.label :phone_number, "Phone number", class: "col-lg-4 col-form-label" %>
        <div class="col-lg-8">
          <%= form.text_field :phone_number, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <%= form.label :date_of_birth, "Date of birth", class: "col-lg-4 col-form-label" %>
        <div class="col-lg-8">
          <%= form.date_field :date_of_birth, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <%= form.label :gender, "Gender", class: "col-lg-6 radio control-label" %>
        <div class="form-check col-lg-3">
          <label class="form-check-label">
            <%= form.radio_button :gender, "Male", class: "form-check-input" %>
            Male
          </label>
        </div>
        <div class="form-check col-lg-3">
          <label class="form-check-label">
            <%= form.radio_button :gender, "Female", class: "form-check-input" %>
            Female
          </label>
        </div>
      </div>
      <hr>

      <div class="form-group">
        <%= form.label :password, "Password" %>
        <%= form.password_field :password, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :confirm_password, "Confirm password" %>
        <%= form.password_field :password_confirmation, class: "form-control" %>
      </div>

      <div class="form-group d-flex justify-content-between align-items-center">
        <%= link_to 'Delete my account', "#", data: { target: '#modal-window', toggle: 'modal' }%>
        <%= form.submit "Submit", class: "btn btn-primary float-right" %>
      </div>
    </fieldset>
  </div>
</div>
<% end %>

<div class="modal hide fade" id="modal-window" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_with url: "/users/#{@user.id}", method: "delete" do |form| %>
      <div class="modal-header">
        <h5 class="modal-title" id="assignmentModalLabel">Confirm your password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          Please confirm your password before continuing. Note that this action cannot be undone.
        </div>
        <div class="form-group">
          <%= form.label "user[password]", "Password" %>
          <%= form.text_field "user[password]", class: "form-control" %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= form.submit "Delete my account", class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script>
  $(document).ready(function(){
    $('#user_phone_number').mask('000-000-0000');
  });
</script>