<% upload_files_checked = @has_program && @has_grades_uploaded %>
<% upload_submissions_checked = @has_submission %>
<% setup_rubric_checked = @has_rubric %>
<% export_checked = @has_grades_filled %>

<% content_for(:sidebar) do %>
  <div class="col-12 col-lg-3 col-xl-3">
    <div class="pt-4">
      <div class="card mb-3">
        <div class="card-header"><span>Assignment: <%= @assignment.name %></span></div>
        <div class="card-body">
          <h5 class="card-title">Instruction</h5>
          <p class="card-text">Go through steps 1 to 5 in sequence. <br>Each step will become available once the previous steps are checked.</p>
        </div>
        <div class="list-group list-group-flush" id="assignment-sidebar">
          <% classes = "list-group-item list-group-item-action d-flex justify-content-between align-items-center"%>
          <% url = course_assignment_path(@course, @assignment) %>
          <a href="<%= url %>" class="<%= classes %>">
            1. Upload files
            <%= upload_files_checked ? badge_checkmark : badge_exclamation %>
          </a>
          <% url = course_assignment_submissions_path(@course, @assignment) %>
          <% disabled = upload_files_checked ? '' : 'disabled' %>
          <a href="<%= url %>" class="<%= classes %> <%= disabled %>">
            2. Upload submissions
            <%= upload_submissions_checked ? badge_checkmark : badge_exclamation %>
          </a>
          <% url = course_assignment_rubric_items_path(@course, @assignment) %>
          <% disabled = upload_submissions_checked ? '' : 'disabled' %>
          <a href="<%= url %>" class="<%= classes %> <%= disabled %>">
            3. Setup rubric
            <%= setup_rubric_checked ? badge_checkmark : badge_exclamation %>
          </a>
          <% url = course_assignment_grading_index_path(@course, @assignment) %>
          <% disabled = setup_rubric_checked ? '' : 'disabled' %>
          <a href="<%= url %>" class="<%= classes %> <%= disabled %>">
            4. Run automated grading
            <!-- TODO: add badge -->
          </a>
          <% url = course_assignment_grades_path(@course, @assignment) %>
          <% disabled = setup_rubric_checked ? '' : 'disabled' %>
          <a href="<%= url %>" class="<%= classes %> <%= disabled %>">
            5. Export
            <%#= export_checked ? badge_checkmark : badge_exclamation %>
          </a>
        </div>
      </div>
    </div>
  </div>
<% end %>
