<%= form_with model: [@course, @assignment, rubric_item] do |f| %>
  <%= f.hidden_field :seq %>
  <p class="card-text">
    <b>Usage: </b><%= usage %>
  </p>
  <div class="row">
    <% if required_items.include?('input_file') %>
      <div class="col-lg-3">
        <div class="form-group">
          <%= f.label :primary_file, "Input file" %>
          <%= f.select :primary_file, %w(Hello.java Goodbye.java BBTP.pdf), {include_blank: true}, class: "form-control" %>
        </div>
      </div>
    <% end %>
    <% if required_items.include?('oracle_file') %>
      <div class="col-lg-3">
        <div class="form-group">
          <%= f.label :secondary_file, "Oracle file" %>
          <%= f.select :secondary_file, %w(Hello.java Goodbye.java HelloTest.java GoodbyeTest.java), {include_blank: true}, class: "form-control" %>
        </div>
      </div>
    <% end %>
    <% if required_items.include?('bbtp') %>
      <div class="col-lg-3">
        <div class="form-group">
          <%= f.label :tertiary_file, "Black box test plan" %>
          <%= f.select :tertiary_file, %w(Hello.java Goodbye.java BBTP.pdf), {include_blank: true}, class: "form-control" %>
        </div>
      </div>
    <% end %>
    <% if required_items.include?('test_file') %>
      <div class="col-lg-3">
        <div class="form-group">
          <%= f.label :secondary_file, "Test file" %>
          <%= f.select :secondary_file, %w(Hello.java Goodbye.java HelloTest.java GoodbyeTest.java), {include_blank: true}, class: "form-control" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <% if required_items.include?('description') %>
        <div class="form-group">
          <%= f.label :description, "Description" %> <span class="text-muted">(optional)</span>
          <%= f.text_area :description, rows: 3, class: "form-control" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= render partial: '/rubric_items/table', locals: {required_items: required_items, default_set: default_set} %>
    </div>
  </div>
  <%= f.submit "Save", class: "btn btn-link" %>
  <%= link_to "Delete", "#", class: "btn btn-link" %>
<% end %>