<div class="list-group-item-action card-header" data-toggle="collapse" data-target="#rubric_item-<%= rubric_item.id %>">
  <% has_file = rubric_item.filename %>
  <% has_criteria = rubric_item.criteria.present? %>
  <% tooltip_title = [] %>
  <% if !has_file && rubric_item.type != 'Rubrics::Item::Zybooks'
       tooltip_title << 'No input file'
     end %>
  <% tooltip_title << 'No criteria' unless has_criteria %>
  <%= tooltip_title.empty? ? badge_checkmark : badge_exclamation(tooltip_title.join("\n")) %>
  <span><%= rubric_item %></span>
</div>
<div id="rubric_item-<%= rubric_item.id %>" class="collapse show" data-parent="#rubrics_accordion">
  <div class="card-body">
    <%= form_with url: course_assignment_rubric_item_path(@course, @assignment, rubric_item), method: :put, id: rubric_item.type do |form| %>
      <%= form.fields_for :rubric_item do |f| %>
        <p class="card-text">
          <b>Usage: </b><%= rubric_item.class.description %>
        </p>
        <% requirements = rubric_item.class.requirements %>
        <div class="row">
          <% if requirements.include?(:filename) %>
            <div class="col-auto">
              <div class="form-group">
                <%= f.label :filename, 'Filename' %>
                <%= f.select :filename, @assignment.programs, { selected: rubric_item.filename },
                             { class: 'form-control', required: true } %>
              </div>
            </div>
          <% end %>
          <% if requirements.include?(:file) %>
            <div class="col" style="max-width: 800px">
              <div class="form-group">
                <div class="input-group">
                  <div class="custom-file">
                    <%= f.file_field :zybooks, class: 'custom-file-input', accept: '.csv', required: true %>
                    <%= f.label :zybooks, 'Choose file', class: 'custom-file-label' %>
                  </div>
                </div>
                <%= react_component 'forms/Tip',
                                    message: 'It should look like "NCSUCSC116xxxSpring2021_report_004_2021-01-01_2345.csv"',
                                    id: 'zybooks-activity-report' %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <%= render partial: 'rubric_items/edit', locals: { rubric_item: rubric_item, form: f } %>
          </div>
        </div>
        <%= f.submit "Save", class: "btn btn-link" %>
        <%= link_to 'Delete', course_assignment_rubric_item_path(@course, @assignment, rubric_item),
                    class: 'btn btn-link', method: :delete %>
      <% end %>
    <% end %>
  </div>
</div>
