<div class="list-group-item-action d-flex card-header" id="heading_<%= seq %>" data-toggle="collapse" data-target="#collapse_<%= seq %>">
  <span id="seq"><%= seq %></span>. Student WBT
</div>
<div id="collapse_<%= seq %>" class="collapse" aria-labelledby="heading_<%= seq %>" data-parent="#rubric_items_accordion">
  <div class="card-body">
    <%= render partial: '/rubric_items/item', locals: {usage: 'This step runs the student\'s white box tests against both the selected input file and the oracle file.',
                                                       required_items: %w(input_file test_file oracle_file type points criterion response),
                                                       default_set: RubricItem.default_set(:student_wbt),
                                                       default_description: RubricItem.default_description(:student_wbt)} %>
  </div>
</div>