<%= form.fields_for :criteria do |form| %>
  <% count = 1 %>
  <table class="table table-sm table-hover">
    <thead>
    <tr class="table-active">
      <th scope="col">Type</th>
      <th scope="col">Points</th>
      <th scope="col" style="width: 50%">Criterion</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <% default_set = rubric_item.default_set %>
    <% criterion_items = rubric_item.criterions %>
    <% criterion_items = default_set if criterion_items.blank? %>

    <% criterion_items.each do |criterion| %>
      <%= render partial: 'rubric_items/table_row',
                 locals: { count: count, form: form, criterion: criterion, rubric_item: rubric_item } %>
      <% count += 1 %>
    <% end %>
    <tr class="text-muted" id="new_row_<%= rubric_item.seq %>">
      <td colspan="6">
        + New
      </td>
    </tr>
    </tbody>
  </table>
  <script>
    $(document).on('turbolinks:load', function () {
      $('tr[id^=\'new_row_\']').unbind().on('click', function () {
        let str = "<%= escape_javascript render partial: 'rubric_items/table_row',
      locals: {count: count, form: form, criterion: Criterion.new, rubric_item: rubric_item} %>";
        let count = $(this).parent('tbody').children().length;
        let regex = new RegExp('_<%= count %>', 'g');
        let substitute = '_' + count;
        let replacedStr = str.replace(regex, substitute).replace('text-hide', '');
        $(replacedStr).insertBefore(this);
      });

      $(document).on('click', '.a-del', function () {
        $(this).closest('tr').remove();
      });
    });
  </script>
<% end %>