<div class="list-group-item-action d-flex card-header" id="heading_<%= seq %>" data-toggle="collapse" data-target="#collapse_<%= seq %>">
  <span id="seq"><%= seq %></span>. TS WBT
</div>
<div id="collapse_<%= seq %>" class="collapse" aria-labelledby="heading_<%= seq %>" data-parent="#rubric_items_accordion">
  <div class="card-body">
    <%= render partial: '/rubric_items/item', locals: {usage: 'This step runs the teaching-staff\'s white box tests against the selected input file.',
                                                       required_items: %w(input_file test_file type points criterion response),
                                                       default_set: RubricItem.default_set(:ts_wbt),
                                                       default_description: RubricItem.default_description(:ts_wbt)} %>
  </div>
</div>