<div class="list-group-item-action d-flex card-header" id="heading_<%= rubric_item.seq %>" data-toggle="collapse" data-target="#collapse_<%= rubric_item.seq %>">
  <span id="seq"><%= rubric_item.seq %></span>. TS BBT
</div>
<div id="collapse_<%= rubric_item.seq %>" class="collapse" aria-labelledby="heading_<%= rubric_item.seq %>" data-parent="#rubric_items_accordion">
  <div class="card-body">
    <%= render partial: '/rubric_items/item', locals: {usage: 'This step grants an interactive web console for grading the teaching-staff\'s black box tests.',
                                                       required_items: %w(input_file oracle_file bbtp description type points criterion response),
                                                       rubric_item: rubric_item,
                                                       default_set: RubricItem.default_set(:ts_bbt),
                                                       default_description: RubricItem.default_description(:ts_bbt)} %>
  </div>
</div>