<div class="row">
  <div class="col-lg-7">
    <%= form_with(url: "/courses/#{@course.id}/assignments/#{@assignment.id}/submissions/upload") do |f| %>
      <div class="form-group">
        <div class="input-group">
          <div class="custom-file">
            <%= f.file_field(:zip, class: 'custom-file-input', accept: 'application/zip') %>
            <%= f.label(:zip, 'No file chosen', class: 'custom-file-label') %>
          </div>
          <div class="input-group-append">
            <%= f.submit('Upload', class: 'input-group-text') %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-lg-5">
    <div class="toast" role="alert" data-autohide="false" aria-live="assertive" aria-atomic="true" style="position:absolute; z-index: 2">
      <div class="toast-header">
        <strong class="mr-auto">Upload</strong>
        <small>Now</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
        Uploading...<i class="fa fa-spinner fa-spin ml-1"></i>
        <br/>
        Please do not refresh the page.
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <table class="table table-hover">
      <thead>
      <tr class="table-active">
        <th scope="col">Select</th>
        <th scope="col">First / Last name</th>
        <th scope="col">Grade</th>
        <th scope="col">File submissions</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @submissions.each do |submission| %>
        <tr>
          <th scope="row">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1"></label>
            </div>
          </th>
          <% student = submission.student %>
          <td>
            <%= submission.status %> <%= student.first_name %> <%= student.last_name %>
          </td>
          <td>
            <button type="button" class="btn btn-outline-primary btn-sm">Grade</button>
            <br/>
            0 / 100
          </td>
          <td><%= submission.file_submissions %></td>
          <td>
            <a href="#" data-toggle="tooltip" data-original-title="Add / replace files"><i class="far fa-plus-square fa-150"></i></a>
            <% delete_url = "/courses/#{@course.id}/assignments/#{@assignment.id}/submissions/#{submission.id}" %>
            <a href="<%= delete_url %>" data-method="delete" data-toggle="tooltip" data-original-title="Delete submission">
              <i class="far fa-trash-alt fa-150"></i>
            </a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row justify-content-between">
  <div class="col-lg-12">
    <button type="button" class="btn btn-secondary">Select / deselect all</button>
    <div class="form-group float-right">
      <button type="submit" class="btn btn-outline-primary">Grade</button>
      <button type="submit" class="btn btn-primary">Download</button>
      <button type="submit" class="btn btn-primary">Delete</button>
    </div>
  </div>
</div>
<script>
  $(document).ready(() => {
    $('input:submit').on('click', () => {
      if ($('.custom-file-label').html().trim() !== 'No file chosen') {
        $('.toast').toast('show');
      }
    });
  });
</script>
