<div class="row">
  <div class="col-lg-7">
    <%= form_with(url: "/courses/#{@course.id}/assignments/#{@assignment.id}/submissions/upload") do |f| %>
      <div class="form-group">
        <div class="input-group">
          <div class="custom-file">
            <%= f.file_field(:zip, class: 'custom-file-input', accept: 'application/zip') %>
            <%= f.label(:zip, 'Choose file', class: 'custom-file-label') %>
          </div>
          <div class="input-group-append">
            <%= f.submit('Upload', class: 'input-group-text') %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <!-- Uploading progress -->
  <div class="col-lg-5">
    <div class="toast toast-float" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
      <div class="toast-header">
        <strong class="mr-auto">Upload</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
        Uploading...<i class="fa fa-spinner fa-spin ml-1"></i>
        <br/>
        Please do not refresh the page.
      </div>
    </div>
    <div class="float-right">
      <%= button_to('Download all', "/courses/#{@course.id}/assignments/#{@assignment.id}/submissions/download_all", method: :get, class: 'btn btn-secondary') %>
    </div>
  </div>
</div>
<%= form_with(url: "/courses/#{@course.id}/assignments/#{@assignment.id}/submissions/destroy_selected") do |f| %>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-hover">
        <thead>
        <tr class="table-active">
          <th scope="col" class="bootstrap-overrides">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="select-all">
              <label class="custom-control-label" for="select-all"></label>
            </div>
          </th>
          <th scope="col" class="bootstrap-overrides">First / Last name</th>
          <th scope="col" class="bootstrap-overrides">Grade</th>
          <th scope="col" class="bootstrap-overrides">File submissions</th>
          <th scope="col" class="bootstrap-overrides">Actions</th>
        </tr>
        </thead>
        <tbody>
        <% @submissions.each do |submission| %>
          <tr>
            <th scope="row">
              <div class="custom-control custom-checkbox">
                <%= f.check_box("submissions[#{submission.id}]", class: 'custom-control-input') %>
                <%= f.label("submissions[#{submission.id}]", 0.chr, class: 'custom-control-label') %>
              </div>
            </th>
            <td>
              <%= submission.status %> <%= submission.student %>
            </td>
            <td>
              <button type="button" class="btn btn-outline-primary btn-sm">Grade</button>
              <br/>
              0 / 100
            </td>
            <td><%= submission.file_submissions %></td>
            <td>
              <a href="#" data-toggle="tooltip" data-original-title="Add / replace files"><i class="far fa-plus-square fa-150"></i></a>
              <% delete_url = "/courses/#{@course.id}/assignments/#{@assignment.id}/submissions/#{submission.id}" %>
              <a href="<%= delete_url %>" data-method="delete" data-toggle="tooltip" data-original-title="Delete submission">
                <i class="far fa-trash-alt fa-150"></i>
              </a>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <button type="button" class="btn btn-secondary" id="select-all">Select / deselect all</button>
      <div class="form-group float-right">
        <button class="btn btn-outline-primary">Grade</button>
        <%= f.submit('Delete', class: 'btn btn-primary') %>
      </div>
    </div>
  </div>
<% end %>
<script>
  $(document).on('turbolinks:load', () => {
    $('input:submit').on('click', () => {
      if ($('.custom-file-label').html().trim() !== 'Choose file') {
        $('.toast').toast('show');
      }
    });
  });
</script>
