<div class="row mb-4">
  <div class="col-auto" style="min-width: 400px">
    <h3>Source Files</h3>
    <% source_files = Dir.glob(@upload_root.join('**', '*.java')) %>
    <% if source_files.empty? %>
      None
    <% else %>
      <%= form_for :checkstyle do |f| %>
        <div class="form-group">
          <ul class="list-group code">
            <% source_files.sort.each do |filepath| %>
              <% filename = File.basename(filepath) %>
              <% checked = filename.exclude? 'UI' %>
              <% active = checked ? 'active' : '' %>
              <li class="list-group-item d-flex justify-content-between align-items-center <%= active %>" id="checkbox">
                <%= filename %>
                <div class="custom-control custom-checkbox">
                  <%= f.check_box :"files[#{filename}]", class: 'custom-control-input', checked: checked %>
                  <%= f.label :"files[#{filename}]", class: 'custom-control-label', style: 'display:none' %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <%= f.check_box :"options[ignore_magic_numbers]", class: 'custom-control-input' %>
            <%= f.label :"options[ignore_magic_numbers]", 'Ignore magic numbers', class: 'custom-control-label' %>
          </div>
          <div class="custom-control custom-checkbox">
            <%= f.check_box :"options[ignore_javadoc]", class: 'custom-control-input' %>
            <%= f.label :"options[ignore_javadoc]", 'Ignore Javadoc', class: 'custom-control-label' %>
          </div>
        </div>
        <%= f.submit 'Run checkstyle', class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row mb-4">
  <div class="col-auto" style="min-width: 400px">
    <h3>Result</h3>
    <div class="card">
      <h3 class="card-header d-flex justify-content-between align-items-center">
        Total
        <span class="badge badge-dark"><%= @cs_count&.sum { |_, v| v } || '0' %></span>
      </h3>
      <ul class="list-group list-group-flush">
        <% @cs_count&.each do |f, c| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span class="code"><%= f %></span>
            <span class="badge badge-warning badge-pill"><%= c %></span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
