<div class="row mb-4">
  <div class="col-auto" style="min-width: 400px">
    <h3>Compiled Classes</h3>
    <%= form_tag({action: :checkstyle_run}, multipart: true, id: @id) do %>
      <div class="form-group">
        <ul class="list-group code">
          <% Dir.glob(@upload_root.join('**', '*.java')).sort.each do |filepath| %>
            <% filename = File.basename(filepath) %>
            <% checked = filename.exclude? 'UI' %>
            <% active = checked ? 'active' : '' %>
            <li class="list-group-item d-flex justify-content-between align-items-center <%= active %>" id="checkbox">
              <%= filename %>
              <div class="custom-control custom-checkbox">
                <%= check_box :selected_checkstyle, filename, class: 'custom-control-input', checked: checked %>
                <label class="custom-control-label" for="selected_checkstyle_<%= filename %>" style="display: none"></label>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <%= check_box :checkstyle_options, 'ignore_magic_numbers', class: 'custom-control-input' %>
          <label class="custom-control-label" for="checkstyle_options_ignore_magic_numbers">Ignore magic numbers</label>
        </div>
        <div class="custom-control custom-checkbox">
          <%= check_box :checkstyle_options, 'ignore_javadoc', class: 'custom-control-input' %>
          <label class="custom-control-label" for="checkstyle_options_ignore_javadoc">Ignore Javadoc</label>
        </div>
      </div>
      <%= submit_tag 'Run checkstyle', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<div class="row mb-4">
  <div class="col-auto" style="min-width: 400px">
    <h3>Result</h3>
    <div class="card">
      <h3 class="card-header d-flex justify-content-between align-items-center">
        Total
        <span class="badge badge-dark"><%= @cs_count&.sum { |_, v| v } || '0' %></span>
      </h3>
      <ul class="list-group list-group-flush">
        <% @cs_count&.each do |f, c| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span class="code"><%= f %></span>
            <span class="badge badge-warning badge-pill"><%= c %></span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
