<div class="row mb-4">
  <div class="col-lg-5">
    <h3>Source Files</h3>
    <ul class="list-group">
      <% Dir.glob(@upload_root.join('**', '*.java')).sort.each do |filepath| %>
        <li class="list-group-item d-flex justify-content-between align-items-center code">
          <%= File.basename(filepath) %>
          <% if Dir.glob(filepath.gsub('src', 'bin').gsub('.java', '.class')).empty? %>
            <% span_class = 'badge badge-danger' %>
            <% tooltip_title = 'Not yet compiled' %>
            <% icon_class = 'fas fa-question' %>
          <% else %>
            <% span_class = 'badge badge-success' %>
            <% tooltip_title = 'Compiled' %>
            <% icon_class = 'fas fa-check' %>
          <% end %>
          <span class="<%= span_class %>" data-toggle="tooltip" data-placement="right" title="<%= tooltip_title %>">
            <i class="<%= icon_class %>"></i>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-lg-7">
    <h3>Options</h3>
    <div class="form-group" id="options">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="junit">
        <label class="custom-control-label" for="junit">
          JUnit (<span class="code">-cp "bin:lib/*"</span>)
        </label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck3">
        <label class="custom-control-label" for="customCheck3">
          Some option2
        </label>
      </div>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck4">
        <label class="custom-control-label" for="customCheck4">
          Some option3
        </label>
      </div>
    </div>
    <button type="button" class="btn btn-primary">Apply to all</button>
    <button type="button" class="btn btn-outline-primary" id="options-select-all">Select all</button>
    <button type="button" class="btn btn-outline-primary" id="options-reset">Reset</button>
  </div>
</div>
<div class="row mb-4">
  <div class="col-lg-12">
    <h3>Custom Compile</h3>
    <label class="col-form-label">Enter full command(s) below:</label>
    <div class="form-group" id="custom-compile">
      <div class="input-group mb-2">
        <input type="text" class="form-control" placeholder="javac ...">
        <div class="input-group-append">
          <button type="button" class="btn btn-dark disabled">Remove</button>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary" id="custom-add" onclick="add()">Add</button>
  </div>
</div>
<div class="row mb-4">
  <div class="col-lg-12">
    <%= form_tag "/grading/#{@assignment_type}/#{@id}/compile" %>
    <button class="btn btn-primary">Compile all</button>
  </div>
</div>
<div class="row mb-4">
  <div class="col-lg-12">
    <h3>Console Output</h3>
    <div class="terminal"><%= @console_output %></div>
  </div>
</div>
<script>
  let customCount = 0;

  function add() {
    customAdd(customCount++);
  }
</script>