<div class="custom-control custom-checkbox mb-1">
  <%= form.check_box('options[wce][argument]', class: 'custom-control-input') %>
  <label class="custom-control-label" for="options[wce][argument]" aria-describedby="options-wce-argument-help">
    Argument(s)
  </label>
  <small id="stdin-help" class="form-text text-muted mt-0">
    Using command line arguments (<span class="code">String[] args</span>)
  </small>
  <div class="mt-2 mb-2 w-50" id="argument-data" style="display: none">
    <div class="form-group">
      <%= form.label('options[wce][argument_data_javac]', 'javac') %>
      <%= form.text_field('options[wce][argument_data_javac]', class: 'form-control') %>
    </div>
    <div class="form-group">
      <%= form.label('options[wce][argument_data_java]', 'java') %>
      <%= form.text_field('options[wce][argument_data_java]', class: 'form-control', 'aria-describedby': 'argument-help') %>
      <small id="argument-help" class="form-text text-muted">
        Separated by spaces. If an argument contains space(s), use quotes.
      </small>
    </div>
  </div>
</div>

<div class="custom-control custom-checkbox mb-1">
  <%= form.check_box('options[wce][stdin]', class: 'custom-control-input') %>
  <label class="custom-control-label d-inline" for="options[wce][stdin]" aria-describedby="options-wce-stdin-help">
    Keyboard input
  </label>
  <small id="options-wce-stdin-help" class="form-text text-muted mt-0">
    Read input from keyboard (<span class="code">Scanner(System.in)</span>)
  </small>
  <div class="mt-2 mb-2 w-50" id="stdin-data" style="display: none">
    <%= form.text_area('options[wce][stdin_data]', class: 'form-control', 'aria-describedby': 'stdin-help') %>
    <small id="stdin-help" class="form-text text-muted">Separated by newlines</small>
  </div>
</div>

<!-- TODO: implement -->
<div class="custom-control custom-checkbox mb-1">
  <%= form.check_box('options[wce][match]', class: 'custom-control-input', disabled: true) %>
  <label class="custom-control-label" for="options[wce][match]" aria-describedby="options-wce-match-help">
    Output matching
  </label>
  <small id="stdin-help" class="form-text text-muted mt-0">Match actual output with expected</small>
  <div class="mt-2 mb-2 w-50" id="matching-level-slider" style="display: none">
    <%= form.range_field('options[wce][match_level]', class: 'custom-range', min: 1, max: 3, step: 1, list: 'level') %>
    <div class="col-lg-6">
      <%= form.label('options[wce][match_level]', 'Match text only', class: 'mr-2 mb-0') %>
      <a href="/help" target="_blank" data-toggle="tooltip" title="What is this?">
        <i class="far fa-question-circle"></i>
      </a>
    </div>
  </div>
</div>

<script>
  $(document).on('turbolinks:load', () => {
    $('input[name="options[wce][stdin]"]').change(function () {
      if ($(this).prop('checked'))
        $('div#stdin-data').show();
      else
        $('div#stdin-data').hide();
    });

    $('input[name="options[wce][argument]"]').change(function () {
      if ($(this).prop('checked'))
        $('div#argument-data').show();
      else
        $('div#argument-data').hide();
    });

    $('input[name="options[wce][match]"]').change(function () {
      if ($(this).prop('checked'))
        $('div#matching-level-slider').show();
      else
        $('div#matching-level-slider').hide();
    });

    const matchingLevel = val => {
      val = parseInt(val);
      switch (val) {
        case 1:
          return 'Allow differences';
        case 2:
          return 'Match text only';
        case 3:
          return 'Strict match';
        default:
          return '';
      }
    };

    $('input[id="options[wce][match_level]"]').on('change', function () {
      $('label[for="options[wce][match_level]"]').html(matchingLevel($(this).val()));
    });
  });
</script>