<div class="pt-3">
  <div class="row">
    <div class="col-lg-12 pb-lg-3">
      <h2><%= title.capitalize %></h2>
    </div>
  </div>

  <!--number - the number of items (exercise, project, or homework)-->
  <!--number_of_cards - the number of cards to render (one additional card for adding new item)-->
  <% number = @assignments.size %>
  <% number_of_cards = number + 1 %>
  <div class="row">
    <% (1..number_of_cards).each_with_index do |x, i| %>
      <% assignment = @assignments[i] %>
      <div class="col-lg-4 pb-3">
        <div class="card" style="height: 10rem;" id="<%= x %>">
          <div class="card-body">
            <% if i == number_of_cards - 1 %>
              <!--center the 'plus' button-->
              <div class="center" style="height: 100%">
                <a href="<%= url_prefix + "new" %>" class="stretched-link" data-remote="true" data-toggle="modal" data-target="#modal-window">
                  <i class="fas fa-plus-circle fa-4x"></i>
                </a>
              </div>
            <% else %>
              <h4 class="card-title"><a href="<%= url_prefix + assignment.id.to_s %>/prepare"><%= assignment.name %></a>
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= assignment.term %> <%= assignment.course %>
                (<%= assignment.section %>)</h6>
              <p class="card-text"><%= assignment.description %></p>
              <%= link_to 'Edit', "#{url_prefix + assignment.id.to_s}/edit", remote: true, data: {target: '#modal-window', toggle: 'modal'}, class: 'card-link' %>
              <a href="<%= url_prefix + assignment.id.to_s %>" data-method="delete" class="card-link">Delete</a>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= render partial: '/layouts/modal' %>
</div>

<script>
  <% if flash[:modal_error] %>
    <% if @assignment.id %>
      $("#modal-window").find(".modal-content").html("<%= j render partial: 'grading/assignment_modal', locals: {title: "Edit #{@assignment.name}", type: type, method: "put"} %>");
      $('#modal-window').removeClass("fade");
      $("#modal-window").modal('show');
    <% else %>
      $('#modal-window').find(".modal-content").html("<%= j render partial: 'grading/assignment_modal', locals: {title: "Add a new #{type.downcase}", type: type, method: "post"} %>");
      $('#modal-window').removeClass("fade");
      $('#modal-window').modal('show');
    <% end %>
  <% end %>
  $('button#assignment_modal_close').on('click', () => {
    $('#modal-window').addClass('fade');
  });
</script>