<div class="custom-control custom-checkbox mb-1">
  <%= form.check_box('options[checkstyle][magic]', class: 'custom-control-input', checked: true) %>
  <label class="custom-control-label" for="options[checkstyle][magic]">
    Magic number
  </label>
  <small id="options-wce-stdin-help" class="form-text text-muted mt-0">Avoid magic numbers</small>
</div>
<div class="custom-control custom-checkbox mb-1">
  <%= form.check_box('options[checkstyle][javadoc]', class: 'custom-control-input', checked: true) %>
  <label class="custom-control-label" for="options[checkstyle][javadoc]">
    Javadoc comment
  </label>
  <small id="options-wce-stdin-help" class="form-text text-muted mt-0">Document each instance variable, constant,
    method, and class</small>
</div>
<div class="custom-control custom-checkbox mb-1">
  <%= form.check_box('options[checkstyle][indentation]', class: 'custom-control-input', checked: true) %>
  <label class="custom-control-label" for="options[checkstyle][indentation]">
    Indentation level
  </label>
  <small id="options-wce-stdin-help" class="form-text text-muted mt-0">Using 4 spaces</small>
</div>
<div class="custom-control custom-checkbox mb-1">
  <%= form.check_box('options[checkstyle][length]', class: 'custom-control-input', checked: true) %>
  <label class="custom-control-label" for="options[checkstyle][length]">
    Line length
  </label>
  <small id="options-wce-stdin-help" class="form-text text-muted mt-0">Under 100 characters in length</small>
</div>
<div class="custom-control custom-checkbox mb-1">
  <%= form.check_box('options[checkstyle][pattern]', class: 'custom-control-input', checked: true) %>
  <label class="custom-control-label" for="options[checkstyle][pattern]">
    Variable name
  </label>
  <small id="options-wce-stdin-help" class="form-text text-muted mt-0">
    Begin with lowercase letters and do not use underscores.
    <br/>
    Pattern: <span class="code">^[a-z][a-zA-Z0-9]*$</span>
  </small>
</div>
<div class="custom-control custom-checkbox mb-1">
  <%= form.check_box('options[checkstyle][tab]', class: 'custom-control-input', checked: true) %>
  <label class="custom-control-label" for="options[checkstyle][tab]">
    Tab character
  </label>
  <small id="options-wce-stdin-help" class="form-text text-muted mt-0">Use spaces instead of tabs</small>
</div>
<div class="custom-control custom-checkbox mb-1">
  <%= form.check_box('options[checkstyle][whitespace]', class: 'custom-control-input', checked: true) %>
  <label class="custom-control-label" for="options[checkstyle][whitespace]">
    Whitespace
  </label>
  <small id="options-wce-stdin-help" class="form-text text-muted mt-0">
    Between operators and operands in arithmetic and logic expressions</small>
</div>
<div class="custom-control mt-2">
  <% guideline_link = 'https://pages.github.ncsu.edu/engr-csc116-staff/CSC116-Materials/course-resources/style-guidelines/formatting-code.html' %>
  <a href="<%= guideline_link %>" target="_blank">
    <u>CSC 116 Java Style Guidelines</u>
  </a>
</div>