<table class="table table-sm table-hover">
  <thead>
  <tr class="table-active">
    <th scope="col" class="bootstrap-overrides">Student</th>
    <th scope="col" class="bootstrap-overrides">Filename</th>
    <th scope="col" class="bootstrap-overrides">Points received</th>
    <th scope="col" class="bootstrap-overrides">Status</th>
    <th scope="col" class="bootstrap-overrides">stdout</th>
  </tr>
  </thead>
  <tbody>
  <% @grading_items.each do |grading_item| %>
    <% status = grading_item.status %>
    <% color = case status
               when GradingItem::SUCCESS
                 'success'
               when GradingItem::ERROR
                 'primary'
               when GradingItem::ACTION_NEEDED
                 'info'
               when GradingItem::NO_SUBMISSION
                 'danger'
               when GradingItem::NOT_STARTED
                 'secondary'
               else
                 'warning'
               end %>
    <tr>
      <td>
        <%= grading_item.submission.student %>
      </td>
      <td>
        <% content = grading_item.file_content || 'None' %>
        <a href="javascript:void(0);" data-toggle="tooltip" data-type="code" title="<%= content %>">
          <%= grading_item.filename %>
        </a>
      </td>
      <td>
        <%= grading_item.points_received.to_f %> / <%= @rubric_item.points %>
      </td>
      <td>
        <span class="badge badge-<%= color %>" data-toggle="tooltip" data-placement="right" title="<%= grading_item.status_detail %>">
          <%= grading_item.status %>
        </span>
        <% if grading_item.status == GradingItem::ERROR %>
          <span class="badge badge-primary"><%= grading_item.error_count %></span>
        <% end %>
      </td>
      <td>
        <% output = grading_item.output.blank? ? 'None' : grading_item.output %>
        <a href="javascript:void(0);" data-toggle="tooltip" title="<%= output %>">View</a>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<style>
  .tooltip-inner {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
</style>