<div class="row mb-4">
  <div class="col-auto" style="min-width: 400px">
    <%= form_for :upload, url: { action: 'upload' } do |f| %>
      <div class="form-group">
        <div class="input-group">
          <div class="custom-file">
            <%= f.file_field 'file', class: 'custom-file-input', multiple: true %>
            <%= f.label :file, 'Select files', class: 'custom-file-label' %>
          </div>
          <div class="input-group-append">
            <%= f.submit 'Upload', class: 'input-group-text' %>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="filename-warning" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Filename warning</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" id="discard">
                  <i class="fas fa-times"></i>
                </span>
              </button>
            </div>
            <div class="modal-body">
              <div id="actual">
                Filename <code></code> may not be a valid submission zip file.
              </div>
              <div id="expected">
                Expected:
                <code>[Course] ([Section]) [Semester] [Year]-[AssignmentName]-[MoodleSubmissionId].zip</code>
              </div>
              <br/>
              Proceed to upload?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="discard">Discard</button>
              <%= f.submit 'Upload', class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row mb-4">
  <div class="col-lg">
    <% uploaded_files = FileHelper.tree(@upload_root, depth: 3) %>
    <h3>Uploaded Files<span class="badge badge-dark ml-2"><%= uploaded_files.length %></span></h3>
    <% if uploaded_files.empty? %>
      None
    <% else %>
      <%= form_for :delete_upload, url: { action: 'delete_upload' } do |f| %>
        <div class="form-group">
          <ul class="list-group code">
            <%# uploaded_files.sort.each do |filepath| %>
            <% uploaded_files.each do |k0, v0| %>
              <li class="list-group-item d-flex align-items-center disabled" id="<%= k0 %>">
                <%= k0 %>
              </li>
              <% v0.each do |v1| %>
                <% if v1.is_a? Enumerable %>
                  <% v1.each do |k2, v2| %>
                    <li class="list-group-item d-flex align-items-center disabled" id="<%= k2 %>">
                      &nbsp;&nbsp;&nbsp;&nbsp;<%= k2 %>
                    </li>
                    <% v2.each do |v3| %>
                      <li class="list-group-item list-group-item-action d-flex align-items-center" id="<%= v3 %>">
                        <div class="mr-auto">
                          <span data-toggle="tooltip" data-placement="right" title="<%= UploadHelper.fileinfo(File.join(@upload_root, v3)) %>">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= v3 %>
                          </span>
                        </div>
                        <span class="badge badge-<%= UploadHelper.file_ext_color(v3) %> mr-3"><%= File.extname(v3) %></span>
                        <div class="custom-control custom-checkbox">
                          <%= f.check_box :"#{v3}", class: 'custom-control-input' %>
                          <%= f.label :"#{v3}", 0.chr, class: "custom-control-label" %>
                        </div>
                      </li>
                    <% end %>
                  <% end %>
                <% else %>
                  <li class="list-group-item list-group-item-action d-flex align-items-center" id="<%= v1 %>">
                    <div class="mr-auto">
                    <span data-toggle="tooltip" data-placement="right" title="<%= UploadHelper.fileinfo(File.join(@upload_root, v1)) %>">
                      &nbsp;&nbsp;&nbsp;&nbsp;<%= v1 %>
                    </span>
                    </div>
                    <span class="badge badge-<%= UploadHelper.file_ext_color(v1) %> mr-3"><%= File.extname(v1) %></span>
                    <div class="custom-control custom-checkbox">
                      <%= f.check_box :"#{v1}", class: 'custom-control-input' %>
                      <%= f.label :"#{v1}", 0.chr, class: "custom-control-label" %>
                    </div>
                  </li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
        <div class="form-group float-left">
          <%= f.submit 'Delete', class: 'btn btn-outline-primary' %>
        </div>
        <div class="float-right">
          <button type="button" class="btn btn-secondary" id="toggle-all">Select/Deselect all</button>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<script>
  // Filename check modal
  let uploadFileInput = $('input:file');
  uploadFileInput.on('change', () => {
    let filename = uploadFileInput.val().replace('C:\\fakepath\\', '');
    const moodleFilenamePattern = /(\w+\s\d+\s\(\d+\)\s\w+\s\d+-\w+\s*\d+-\d+\.zip|Grades-\w+\s\d+\s\(\d+\)\s\w+\s\d+-\w+\s\d+-\d+.csv)/;
    if (!filename.match(moodleFilenamePattern) && filename.length !== 0) {
      $('.modal-body #actual code').html(filename);
      $('#filename-warning').modal();
      // Clear uploaded file
      $('#discard, button#discard').on('click', () => {
        uploadFileInput.val(null);
        uploadFileInput.next().text('Select files');
      });
    }
  });

  // Disable sessionStorage on this page
  sessionStorage.clear();
</script>