<div class="row mb-4">
  <div class="col-auto" style="min-width: 400px">
    <h3>Compiled Classes</h3>
    <%= form_tag({action: :run_selected}, multipart: true, id: @id) do %>
      <div class="form-group">
        <ul class="list-group code" id="compiled-classes">
          <% Dir.glob(@upload_root.join('**', '*.class')).sort.each do |filepath| %>
            <% filename = File.basename(filepath) %>
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center mb-0" id="radio">
              <%= filename %>
              <% if Dir.glob(filepath.gsub('bin', 'src').gsub('.class', '.java')).empty? %>
              <span class="badge badge-danger" data-toggle="tooltip" data-placement="right" title="Missing source file">
                <i class="fas fa-question"></i>
              </span>
              <% end %>
              <%= radio_button_tag 'file', filename, false, style: 'display: none' %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <%= check_box :run_options, 'option_1', class: 'custom-control-input' %>
          <label class="custom-control-label" for="run_options_option_1">Option 1</label>
        </div>
        <div class="custom-control custom-checkbox">
          <%= check_box :run_options, 'option_2', class: 'custom-control-input' %>
          <label class="custom-control-label" for="run_options_option_2">Option 2</label>
        </div>
      </div>
      <%= submit_tag 'Run selected', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
<div class="row mb-4">
  <div class="col-lg-12">
    <h3>Custom Run</h3>
    <label class="col-form-label">Enter full command(s) below:</label>
    <div class="form-group" id="custom-compile">
      <div class="input-group mb-2">
        <input type="text" class="form-control" placeholder="java ...">
        <div class="input-group-append">
          <button type="button" class="btn btn-dark disabled">Remove</button>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary" id="custom-add" onclick="add()">Add</button>
  </div>
</div>
<div class="row mb-4">
  <div class="col-lg-12">
    <%= form_tag "/grading/#{@assignment_type}/#{@id}/run" %>
    <button class="btn btn-primary">Run custom</button>
  </div>
</div>
<div class="row mb-4">
  <div class="col-lg-12">
    <h3>Console Output</h3>
    <div class="terminal"><%= @console_output %></div>
  </div>
</div>
<script>
  let customCount = 0;

  function add() {
    customAdd(customCount++);
  }
</script>