<% url = "/courses/#{@course.id}/assignments/#{@assignment.id}" %>
<% html = "<li class='breadcrumb-item'><a href=#{url}>#{@assignment.name}</a></li><li class='breadcrumb-item active'>Grading</li>".html_safe %>
<%= render partial: '/assignments/header', locals: { html: html } %>

<div class="row">
  <div class="col-lg-3">
    <%= render partial: '/assignments/sidebar' %>
  </div>
  <div class="col-lg-9">
    <div class="list-group">
      <% @rubric_items.each do |rubric_item| %>
        <a href="?id=<%= rubric_item.id %>"
           class="list-group-item list-group-item-action <%= 'active' if rubric_item.id == @rubric_item.id %>">
          <%= rubric_item %>
        </a>
      <% end %>
    </div>
    <hr>
    <%= render partial: 'grading/options' %>
    <%= render partial: '/grading/output' %>
    <div class="float-right">
      <%= link_to 'Reset grading status', { controller: 'grading', action: 'reset', rubric_id: @rubric_item.id }, method: :delete %>
    </div>
  </div>
</div>