<% breadcrumb_for request.path.delete_suffix(@rubric_item.id.to_s) %>

<%= render 'assignment_sidebar' %>
<h2 class="mb-3">Automated Grading</h2>

<ul class="nav nav-tabs" id="autograding">
  <% @rubric_items.each do |rubric_item| %>
    <li class="nav-item">
      <a href="<%= course_assignment_grading_path(@course, @assignment, rubric_item) %>"
         class="nav-link" id="autograding-<%= rubric_item.id %>">
        <%= rubric_item %>
      </a>
    </li>
  <% end %>
</ul>

<%= react_component('grading/GradingPagePerRubricItem', {
  rubricItem: react_grading_page_rubric_item(@course, @assignment, @rubric_item),
  gradeItems: react_grading_page_grade_items(@course, @assignment, @rubric_item, @grade_items)
}) %>

<!--suppress CssUnusedSymbol-->
<style>
  .tooltip-inner {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
  }
</style>
