<% actions = %w[prepare compile run checkstyle summary] %>
<%= javascript_pack_tag 'event', 'data-turbolinks-track': 'reload' %>

<div class="row d-none d-lg-block">
  <table class="table table-hover" id="transparent-table">
    <tbody>
    <tr class="table-light">
      <% current_action_index = actions.index(@action) %>
      <% actions.each_with_index do |act, i| %>
        <td>
          <a href="/grading/<%= @assignment_type %>/<%= @id %>/<%= act %>">
            <% if act == @action %>
              <b><%= act.capitalize %></b>
            <% else %>
              <%= act.capitalize %>
            <% end %>
          </a>
        </td>
        <% if i < current_action_index %>
          <td><i class="fas fa-chevron-right"></i></td>
        <% elsif i < actions.length - 1 %>
          <td class="text-muted"><i class="fas fa-chevron-right"></i></td>
        <% end %>
      <% end %>
    </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <div class="col-lg-3 mb-4 mb-lg-0">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><span class="new-line"><%= @assignment.to_s %></span></li>
    </ol>
    <%= render partial: "/grading/students" %>
  </div>
  <div class="col-lg-9">
    <div class="row">
      <div class="col-lg-12 mb-5">
        <div class="row mb-4">
          <div class="col-lg-12">
            <h1><%= @action.capitalize %></h1>
          </div>
        </div>
        <%= render partial: @action %>
      </div>
      <div class="col-lg-12">
        <% if @action != "prepare" %>
          <a href="/grading/<%= @assignment_type %>/<%= @id %>/<%= actions[current_action_index - 1] %>">
            <button class="btn btn-primary">Back</button>
          </a>
        <% end %>
        <% if @action != "summary" %>
          <a href="/grading/<%= @assignment_type %>/<%= @id %>/<%= actions[current_action_index + 1] %>">
            <button class="btn btn-primary">Next</button>
          </a>
        <% end %>
        <% if @action == "summary" %>
          <button class="btn btn-primary">Done</button>
        <% end %>
      </div>
    </div>
  </div>
</div>