<% url = "/courses/#{@course.id}/assignments/#{@assignment.id}" %>
<% html = "<li class='breadcrumb-item'><a href=#{url}>#{@assignment.name}</a></li><li class='breadcrumb-item active'>Rubric</li>".html_safe %>
<%= render partial: '/assignments/header', locals: {html: html} %>

<div class="row">
  <div class="col-lg-3">
    <%= render partial: '/assignments/sidebar' %>
  </div>
  <div class="col-lg-9">
    <div class="accordion" id="rubric_items_accordion">
      <div class="card">
        <div id="sortable">
          <div>
            <%= render partial: 'rubric_items/wce', locals: {seq: 1} %>
          </div>
          <div>
            <%= render partial: 'rubric_items/inspection', locals: {seq: 2} %>
          </div>
          <div>
            <%= render partial: 'rubric_items/checkstyle', locals: {seq: 3} %>
          </div>
          <div>
            <%= render partial: 'rubric_items/javadoc', locals: {seq: 4} %>
          </div>
          <div>
            <%= render partial: 'rubric_items/ts_bbt', locals: {seq: 5} %>
          </div>
          <div>
            <%= render partial: 'rubric_items/student_bbt', locals: {seq: 6} %>
          </div>
          <div>
            <%= render partial: 'rubric_items/ts_wbt', locals: {seq: 7} %>
          </div>
          <div>
            <%= render partial: 'rubric_items/student_wbt', locals: {seq: 8} %>
          </div>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center" style="padding: 0.75rem 1.25rem">
      <div class="col-lg-4">
        <div class="input-group">
          <% rubric_item_types = RubricItem.rubric_item_types.keys %>
          <%= select :rubric_item, :rubric_item_type, rubric_item_types, {}, class: "custom-select" %>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">+ New</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('#sortable').sortable();
  $('#sortable').disableSelection();
</script>