<h2>Settings</h2>
<%= form_with(url: { action: :export }) do |f| %>
  <div class="row">
    <div class="form-group col">
      <%= f.label('setting[name]', 'Name') %>
      <%= f.select('setting[name]', ReportsHelper.header(@csv_in), {}, { class: 'form-control' }) %>
    </div>
    <div class="form-group col">
      <%= f.label('setting[grade]', 'Grade') %>
      <%= f.select('setting[grade]', ReportsHelper.header(@csv_in), {}, { class: 'form-control' }) %>
    </div>
    <div class="form-group col">
      <%= f.label('setting[feedback]', 'Feedback') %>
      <%= f.select('setting[feedback]', ReportsHelper.header(@csv_in), {}, { class: 'form-control' }) %>
    </div>
  </div>
  <div class="float-right">
    <%= f.submit('Export', class: 'btn btn-secondary') %>
  </div>
<% end %>