<h2>Upload</h2>
<%= form_with(url: { action: :upload }) do |f| %>
  <div class="form-group">
    <div class="input-group">
      <div class="custom-file">
        <%= f.file_field(:gradesheet, class: 'custom-file-input', accept: '.csv', required: true) %>
        <%= f.label(:gradesheet, 'Choose file', class: 'custom-file-label') %>
      </div>
      <div class="input-group-append">
        <%= f.submit('Upload', class: 'input-group-text') %>
      </div>
    </div>
  </div>
<% end %>
<%= form_with(url: { action: :delete }, method: :delete) do |f| %>
  <div class="form-group">
    <%= f.label(:filename, 'Uploaded gradesheet') %>
    <div class="input-group">
      <% filename = @assignment.gradesheet_import.attached? ? @assignment.gradesheet_import.filename.to_s : '' %>
      <%= f.text_field(:filename, class: 'form-control', placeholder: filename, readonly: true) %>
      <div class="input-group-append">
        <%= f.submit('Delete', class: 'input-group-text') %>
      </div>
    </div>
  </div>
<% end %>