<% if flash[:warning] %>
  <div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span class="new-line text-wrap"><%= flash[:warning] %></span>
  </div>
<% end %>

<% if flash[:danger] %>
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span class="new-line text-wrap"><%= flash[:danger] %></span>
  </div>
<% end %>

<% if flash[:success] %>
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span class="new-line text-wrap"><%= flash[:success] %></span>
  </div>
<% end %>

<% if flash[:info] %>
  <div class="alert alert-dismissible alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span class="new-line text-wrap"><%= flash[:info] %></span>
  </div>
<% end %>

<% if flash[:error] %>
  <div class="alert alert-dismissible alert-primary">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span class="new-line text-wrap"><%= flash[:error] %></span>
  </div>
<% end %>