<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <%= link_to('Helli Dev', root_path, { class: 'navbar-brand' }) %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse bg-dark" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/courses">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/rubrics">Rubrics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/settings">Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/help">Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
    <div class="dropdown show">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" id="avatar">
        <% avatar_url = "https://avatar.oxro.io/avatar.svg?name=#{current_user.name}" %>
        <img src="<%= avatar_url %>" width="35px" style="border-radius: 50%" alt="avatar" />
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <%= link_to('Profile', edit_user_registration_path(current_user.id), { class: 'dropdown-item' }) %>
        <div class="dropdown-divider"></div>
        <%= link_to('Logout', destroy_user_session_path, { class: 'dropdown-item', method: :delete }) %>
      </div>
    </div>
  </div>
</nav>

<% content_for :js do %>
  <script>
    $('a[href="<%= destroy_user_session_path %>"]')
      .click(() => {
        localStorage.clear();
      });
  </script>
<% end %>
