<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield(:title).blank? ? @title : yield(:title) %> - AGS Dev</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= render partial: '/layouts/bootstrap' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'layouts/navbar' %>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-3 col-xl-2">
      <%= render 'layouts/sidebar' %>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-xl-1"></div>
        <div class="col">
          <div class="pt-4">
            <div id="flash">
              <%= render 'layouts/flash' %>
            </div>
            <%= render 'layouts/breadcrumb' %>
            <%= yield %>
          </div>
          <%= render 'layouts/footer' %>
        </div>
        <div class="col-xl-1"></div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/modal' %>
<%= yield :js %>
</body>
</html>
