<!DOCTYPE html>
<html>
<head>
  <title>Ags</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'custom.min', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "https://kit.fontawesome.com/dbf016a881.js" %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render partial: "layouts/header" %>
<div class="container">
  <%= render partial: "/layouts/flash" %>
  <%= yield %>
  <%= render partial: "/layouts/footer" %>
</div>
</body>
</html>