<!DOCTYPE html>
<html>
<head>
  <title>Ags</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'custom.min', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://kit.fontawesome.com/dbf016a881.js"></script>
</head>

<body>
<div class="container">
  <%= render partial: "/layouts/flash" %>
  <div class="row">
    <div class=<%= "col-lg-4" %>></div>
    <div class="col-lg-4">
      <div class="center pb-3">
        <i class="fas fa-toilet-paper fa-6x"></i>
      </div>
      <div class="card">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
</html>


